.course {
    &-heading {
        max-width: 60%;
    }
    &-desc {
        max-width: 520px;
    }
    &-teach{
        display: block;
        justify-content: stretch;
        margin-top: 20px ;
    }
    &-content {
        margin-bottom: 40px;
    
        &-img {
            display: flex;
            .img-container{
                width: 205px;
                height: 205px;
                margin: 10px 20px;
                overflow: hidden;
                border-radius: 100rem;
                
            }
        }
        // &-img:nth-child(2){
        //     flex-direction: row-reverse;
        // }
        &-img img {
            max-width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 767px) {
    // .img-container{
    //     width: 160px;
    //     height: 160px;
    // }
    .course-content-img:nth-child(2){
        flex-direction: row;
    }
}